<script src="~/Scripts/MyScripts/MenageRoles.js"></script>
<br />
<br />
<br />

<div> Main page!! List of Surveys </div>

<div id="roleadministration_part" style="display: none;">
       
    <button type="button" class="btn btn-primary" id="btn_createNewRole">Create New Role</button>
    <button type="button" class="btn btn-primary" id="btn_addroleforuser">Add Role for some User</button>

    <div id="addrole_part" style="display: none; margin-left: 7px;">
        <label for="txt_rolename">Role Name:</label>
        <input type="text" id="txt_rolename" class="form-control" style="width: 200px; margin-bottom: 10px;" />
        <button type="button" class="btn btn-primary" id="btn_addrole">Submit</button>
        <button type="button" class="btn btn-primary" id="btn_canceladding">Cancel</button>
    </div>
    
    <div id="addroleforuser_part" style="display: none; margin-left: 7px;">
        <hr />
        <h5>Search Email for which user you like to add role</h5>
        Users email <input type="text" id="txt_usersemailautocompl" style="width: 250px;">
    </div>

    <div id="listofroles_part">
        <table id="tbl_listofroles" class="table table-striped">
            <thead>
                <tr>
                    <th>Role Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        
        <hr />
        <button type="button" class="btn btn-primary" id="btn_closeadminrolepart">Close This Bar</button>
    </div>

    <div id="dialog-confirm" title="Delete this item?" style="display: none;">
        <p>
            <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        </p>
    </div>   
</div>