<script src="~/Scripts/MyScripts/MenageRoles.js"></script>
<br/>
<br/>
<br/>
<a href="#" id="createNewRole"> Create New </a>

<div id="addrole_part" style="display: none;">
    <label for="txt_rolename">Role Name:</label>
    <input type="text" id="txt_rolename" class="form-control" style="width: 100px;"/>
    <button type="button" class="btn btn-primary" id="btn_addrole">Submit</button>
</div>

<div id="listofroles_part">
    <table id="tbl_listofroles">
        <thead>
            <tr>
                <th>Role Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>